@import "colors";
// Primary Colors
$primary:       $cool_purple;
$primary_light: $light_purple;

// Secondary Colors
$secondary:     $seafoam;

// States
$success:       $fountain_green;
$error:         $red_punch;
$warning:       $yellow_orange;
$disabled:      $grey;

// Text
$text_normal:        $second_grey;
$text_light:         $white;
