// Colors
$primary:       $cool_purple;
$primary_light: $light_purple;
$secondary:     $iris;
$success:       $green;
$info:          $light-blue;
$danger:        $red;
$warning:       $turquoise;
$gray-700:      $gray-700;

// Buttons & inputs' radius
$border-radius:    2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

// Override other variables below!
