<% if @donations.count == 0 %>
  <div>
    <h1>Still no donations here, be the hero who creates the first one!</h1>
  </div>
<% else %>
  <div class="h-56 grid grid-cols-3 gap-4 content-start">
    <% @donations.each do |donation| %>
      <%= render 'donations/card', donation: donation %>
    <% end %>
  </div>
<% end %>
