<% if @donations.count == 0 %>
  <div>
    <%= link_to 'Still no donations here, be the hero who creates the first one!', new_donation_path, class: "font-bold text-4xl mt-5 ml-5 text-light-midnight hover:text-midnight"%>
  </div>
<% else %>
  <div class="flex justify-end">
    <button class="inline-flex items-center justify-center p-0.5 mb-2 mr-10 overflow-hidden text-sm font-semibold rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <%= link_to 'Donate❤️', new_donation_path, class: "px-5 py-2.5 transition-all ease-in duration-75 bg-background rounded-md group-hover:bg-opacity-0"%>
    </button>
  </div>
  <div class="h-56 grid grid-cols-3 gap-4 content-start">
    <% @donations.each do |donation| %>
      <%= render 'donations/card', donation: donation %>
    <% end %>
  </div>
<% end %>
