<div class="flex justify-center mt-6">
  <%= link_to 'Create Donation', new_donation_path, class: "ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-400 hover:bg-indigo-700"%>
  <%= link_to 'All Donations', donations_path, class: "ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-400 hover:bg-indigo-700"%>
</div>

<% if @donations.count == 0 %>
  <div>
    <h1>Still no donations here, be the hero who creates the first one!</h1>
  </div>
<% else %>
  <div class="h-56 grid grid-cols-3 gap-4 content-start">
    <% @donations.each do |donation| %>
      <%= render 'donations/card', donation: donation %>
    <% end %>
  </div>
<% end %>
