.sign-in-card {
/* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 87px 32px;
  gap: 40px;

  position: relative;
  width: 464px;
  height: 581px;

  background: #FFFFFF;
}

.frame24 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 48px;

  width: 400px;
  height: 407px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame22 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;

  width: 400px;
  height: 306px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame14 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 400px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  h2 {
    /* H2 - Alternative */

    width: 400px;
    height: 32px;

    /* H2/text-2xl - 24px font-bold */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    /* identical to box height, or 133% */
    text-align: center;

    /* Color/Grey/Grey 3 */
    color: #3C4858;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
  }
}

.frame3 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 400px;
  height: 20px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  p {
    /* Don’t have an account? */
    width: 155px;
    height: 20px;

    /* Body 2/text-sm - 14px font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */

    /* Color/Grey/Grey 3 */
    color: #3C4858;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  text-button {
    /* Text Button */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 54px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    .group54 {
      /* Group 54 */
      width: 54px;
      height: 20px;


      /* Inside auto layout */
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      .label {
        /* Label */
        position: absolute;
        width: 54px;
        height: 20px;
        left: 0px;
        top: 0px;

        /* Body 2/text-sm - 14px font-bold */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;

        /* identical to box height, or 143% */

        color: #8378DF;
      }
    }
  }
}


.frame21 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 0px;
  gap: 24px;

  width: 400px;
  height: 186px;


  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.frame15 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 400px;
  height: 69px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  .input-text {
    /* Input / Text Input / Value */
    width: 400px;
    height: 69px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    .value {
      /* Value */
      position: absolute;
      left: 4.89%;
      right: 1.53%;
      top: 52.17%;
      bottom: 20.29%;
    }
    .input-large-field {
      /* Input / Large Field / Enabled */
      position: absolute;
      left: 0%;
      right: 0%;
      top: 33.33%;
      bottom: 0%;
      .input{
        box-sizing: border-box;

        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        background: #FFFFFF;

        /* Color/ Grey/ Grey 5 */
        border: 1px solid #C2CEDB;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
        border-radius: 6px;
      }
    }
    .label {
      /* Label */
      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 75.36%;

      /* Label */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      /* identical to box height */

      /* Color/Grey/Grey 3 */
      color: #3C4858;
    }
  }
}


.input-large-field {
  /* Input / Text Input / Value */
  width: 400px;
  height: 69px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  .value {
    /* Value */
    position: absolute;
    left: 4.89%;
    right: 1.53%;
    top: 52.17%;
    bottom: 20.29%;
  }
  .input-large-field {
    /* Input / Large Field / Enabled */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 33.33%;
    bottom: 0%;
    .input {
      /* Input */

      box-sizing: border-box;

      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;

      background: #FFFFFF;

      /* Color/ Grey/ Grey 5 */
      border: 1px solid #C2CEDB;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
      border-radius: 6px;
    }
  }
  .label {
    /* Label */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 75.36%;

    /* Label */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */

    /* Color/Grey/Grey 3 */
    color: #3C4858;
  }
}

.frame23 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 38px;

  width: 137px;
  height: 53px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  .frame18 {
    /* Frame 18 */

    // Auto layout
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 137px;
    height: 53px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .primary {
    /* Primary / Responsive / Active */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    gap: 10px;

    width: 137px;
    height: 53px;

    /* #8378DF */
    background: #8378DF;
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    .serach {
      /* SEARCH */
      width: 57px;
      height: 17px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;

      /* identical to box height */
      text-align: center;
      letter-spacing: 0.8px;

      color: #FFFFFF;


      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
}
