@import "config/variables";

.sign-in-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 87px 32px;
  gap: 40px;
  width: 464px;
  height: 581px;
  border-radius: 20px;
  background: $white;
}

.auth-card-welcome {
  font-family: 'Poppins';
  text-align: center;
  color: $three_grey;
  flex: none;
  flex-grow: 1;
}

.auth-card-detail {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $three_grey;
}
