.text_context {
  /* Body 1/text-base - 16px font-medium */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  text-align: center;

  /* Color/ Grey/ Grey 4 */
  color: #8492A6;
}

.heading {
  width: 264px;
  height: 24px;

  /* Body 1/text-base - 16px font-Bold */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  text-align: center;

  /* Color/Grey/Grey 3 */
  color: #3C4858;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.detail {
  /* Detail */
  width: 264px;
  height: 20px;

  /* Body 2/text-sm - 14px font-normal */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  text-align: center;

  /* gray/500 */
  color: #6B7280;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.button-label {
  position: absolute;
  width: 210.43px;
  height: 19px;
  left: 66.79px;
  top: 156px;

  /* Body 2/text-sm - 14px font-bold */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  /* or 143% */
  text-align: center;

  /* Primary / Medium Blue */
  color: #0782D0;
}

.input-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  /* Color/Grey/Grey 3 */
  color: #3C4858;
}
